@using MESS.Data.Models
@using MESS.Services.DTOs.ProductionLogs.Form
@using MESS.Services.UI.PartTraceability
@inject IPartTraceabilityFormService PartTraceabilityService

@if (_initialized)
{
    <div class="card p-0 mb-3">
        <div class="card-body">
            <div class="d-flex align-items-start w-100 gap-2">

                @* Multi-log selector *@
                @if (ProductionLogs.Count > 1)
                {
                    <div class="col-auto d-flex flex-column align-items-center" style="user-select: none;">
                        <button type="button" @onclick="IncrementLogIndex" class="btn btn-primary btn-sm w-100" style="height: 35px;">
                            <i class="bi bi-caret-up" style="font-size: 1.0rem;"></i>
                        </button>

                        <div class="form-floating mb-0 w-100" style="height: 100%;">
                            <input type="number"
                                   id="logIndexInput"
                                   class="form-control text-center"
                                   style="width: 100%; min-width: 85px;"
                                   min="1"
                                   max="@ProductionLogs.Count"
                                   @bind="SelectedLogNumber"
                                   @bind:event="oninput"
                                   onfocus="this.select()" />
                            <label for="logIndexInput">Which One?</label>
                        </div>

                        <button type="button" @onclick="DecrementLogIndex" class="btn btn-primary btn-sm w-100" style="height: 35px;">
                            <i class="bi bi-caret-down" style="font-size: 1.0rem;"></i>
                        </button>
                    </div>
                }

                <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 0.5rem; width: 100%;">
                    @foreach (var partNode in PartNodes)
                    {
                        <PartNodeTextInput
                            PartNode="partNode"
                            LogIndex="_selectedLogIndex"
                            AfterInputChanged="OnPartNodeInputChanged" />
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired] public required List<PartNode> PartNodes { get; set; }
    [Parameter, EditorRequired] public required List<ProductionLogFormDTO> ProductionLogs { get; set; }

    private bool _initialized;
    private int _selectedLogIndex;

    private int SelectedLogNumber
    {
        get => _selectedLogIndex + 1;
        set
        {
            var newIndex = Math.Clamp(value - 1, 0, ProductionLogs.Count - 1);
            if (newIndex == _selectedLogIndex) return;
            _selectedLogIndex = newIndex;
            StateHasChanged();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        _initialized = true;
        StateHasChanged();
    }

    private void OnPartNodeInputChanged((PartNode node, object? value) input)
    {
        var (partNode, updatedValue) = input;
        var entry = PartTraceabilityService.GetEntry(_selectedLogIndex, partNode.Id);

        switch (partNode.PartDefinition!.InputType)
        {
            case PartInputType.SerialNumber:
                entry.SerialNumber = string.IsNullOrWhiteSpace(updatedValue as string) ? null : (string)updatedValue;
                entry.TagCode = null;
                break;

            case PartInputType.Tag:
                entry.TagCode = string.IsNullOrWhiteSpace(updatedValue as string) ? null : (string)updatedValue;
                entry.SerialNumber = null;
                break;

            default:
                throw new ArgumentOutOfRangeException();
        }
    }

    private void IncrementLogIndex()
    {
        if (SelectedLogNumber < ProductionLogs.Count)
            SelectedLogNumber++;
    }

    private void DecrementLogIndex()
    {
        if (SelectedLogNumber > 1)
            SelectedLogNumber--;
    }
}